@model TravelTripProject.Models.Entities.Blog

@{
    ViewBag.Title = "GetBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("EditBlog", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.BlogID)
    @Html.TextBoxFor(x => x.BlogID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.Title)
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CreatedAt)
    @Html.TextBoxFor(x => x.CreatedAt, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ImageURL)
    @Html.TextBoxFor(x => x.ImageURL, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Description)
    @Html.TextAreaFor(x => x.Description, 15, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Blog Güncelle</button>
}

